#countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fffdf9; /* White color for text */
}

.time-card {
  background: rgba(
    152,
    170,
    138,
    0.8
  ); /* Semi-transparent background similar to the example */
  border-radius: 10px; /* Rounded corners */
  margin: 0 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

#countdown span {
  display: block;
  font-size: 2em;
  margin-bottom: 0.3em;
}

.smalltext {
  font-size: 1em;
}

.countdown-text {
  margin: auto;
  text-align: center;
  font-size: 2em;
  margin-bottom: 3em;
}
