.dress-code-section {
    text-align: center;
}

.suit-dress {
    width: 125px;
    display: block;
    margin: auto;
    margin-top: 50px;
}

.dress-code-section h2 {
    color: #6B7E68;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 20px;
}

.dresscode-name {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 20px;
}

.dress-code-container {
    border: 3px solid #3D2D12;
    max-width: 800px;
    margin: 50px auto;
    border-radius: 10px;
}

.dresscode-divisor {
    display: block;
    margin: 0 auto;
    width: 300px;
}

.dresscode-description {
    font-size: 1.6rem;
}

.rsvp-section {
    background-color: #f0f3e8;
    text-align: center;
    margin-bottom: 0;
    padding: 20px 0;
}

.rsvp-section > h2 {
    font-size: 2rem;
    margin-top: 0;
}

.rsvp-section > p {
    font-size: 1.5rem;
    margin-bottom: 0;
}

.confirmation-date {
    font-size: 1.8rem !important;
}

.no-children-banner {
    border-radius: 10px;
    max-width: 1000px;
    background-color: #d8a272;
    text-align: center;
    margin: 2rem auto;
    padding: 10px 30px;
    border: 3px solid #d2945e;
    font-size: 1.3rem;
}

.no-children-banner > h3 {
    margin: 0;
    margin-bottom: 10px;
}