.faqs-section {
    background-color: #ADBBA0;
    padding-top: 2rem;
}

.faqs-section > h2 {
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: center;
}

.faqs-container {
    max-width: 1200px;
    margin: auto;
}

.accordion {
    font-family: 'Bacasime Antique', serif;
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #ADBBA0;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    position: relative;
    border-top: 1px solid rgba(255,255,255,.2);
}

.faq {
    margin: 0;
    font-size: 1.6rem;
    transition: 0.4s;
}

.accordion-icon {
    color: #fff;
    position: absolute;
    right: 0;
}

.active, .accordion:hover{
    cursor: pointer;
}

.active, .accordion:hover .faq{
    margin-left: 50px;
}

.panel {
    padding: 0 18px;
    color: #fff;
    max-height: 0;
    overflow: hidden;
    font-size: 1.2rem;
    transition: max-height 0.4s ease-out;
}

.invisible {
    display: none;
}

.faq-link {
    color: yellow;
    text-decoration: underline;
}

@media (max-width: 672px) {
    .active, .accordion:hover .faq{
        margin-left: 0;
    }
    
    .dress-code-section h2 {
        font-size: 1.8rem;
    }
      
    .dresscode-name {
        font-size: 1.8rem;
    }
    
    .dress-code-container {
        max-width: 300px;
    }
    
    .dresscode-description {
        font-size: 1.4rem;
    }

    .no-children-banner {
        border-radius: 10px;
        max-width: 200px;
        background-color: #d8a272;
        text-align: center;
        margin: 2rem auto;
        padding: 10px 20px;
        border: 3px solid #d2945e;
        font-size: 1.3rem;
    }
    
    .no-children-banner > h3 {
        margin: 0;
        margin-bottom: 10px;
    }
}