.faqs-section {
    background-color: #ADBBA0;
    padding-top: 2rem;
}

.faqs-section > h2 {
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: center;
}

.faqs-container {
    max-width: 1200px;
    margin: auto;
}

.accordion {
    font-family: 'Bacasime Antique', serif;
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #ADBBA0;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    position: relative;
    border-top: 1px solid rgba(255,255,255,.2);
}

.faq {
    margin: 0;
    font-size: 1.6rem;
    transition: 0.4s;
}

.accordion-icon {
    color: #fff;
    position: absolute;
    right: 0;
}

.active, .accordion:hover{
    cursor: pointer;
}

.active, .accordion:hover .faq{
    margin-left: 50px;
}

.panel {
    padding: 0 18px;
    color: #fff;
    max-height: 0;
    overflow: hidden;
    font-size: 1.2rem;
    transition: max-height 0.4s ease-out;
}

.invisible {
    display: none;
}

.faq-link {
    color: yellow;
    text-decoration: underline;
}