/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 672px) {
  .names-img {
    width: 275px;
    margin: auto;
    display: block;
  }

  .divisor {
    display: block;
    margin: auto;
    width: 350px;
  }

  .section-three > div > div > img {
    width: 60px;
  }

  .program-row {
    flex-direction: column;
    align-items: center;
  }

  .program-row-divisor {
    background-color: #443217;
    margin: 20px auto;
    height: 600px;
    width: 3px;
    /* display: none; */
  }

  .program-activity {
    width: 100px;
  }

  .program-activity-title {
    font-size: 1em;
  }

  .program-activity-time {
    font-size: 1.5rem;
  }

  .program-upper-row > .program-activity,
  .program-lower-row > .program-activity {
    margin: 40px 10px;
  }

  .names {
    font-size: 1.5em;
  }

  .bible-verse {
    width: 80%;
    font-size: 1.5em;
  }

  .date {
    font-size: 1.5em;
  }

  .venues-info {
    flex-direction: column;
    align-items: center;
  }

  .info-card {
    width: 90%;
    padding: 20px;
  }

  .info-card > img {
    width: 80px;
  }

  .info-card > h2 {
    font-size: 1.5em;
  }

  .time {
    font-size: 1.3em;
  }

  .place {
    font-size: 1.2em;
  }

  .address {
    font-size: 1em;
  }

  .section-three {
    display: flex;
  }

  .time-card {
    margin: 0 5px;
    padding: 18px;
  }

  #countdown span {
    font-size: 1.7rem;
  }

  .smalltext {
    font-size: 0.8rem;
  }

  .countdown-text {
    margin: auto;
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 3em;
  }

  .section-two-bg {
    display: none;
  }

  .card-divisor {
    margin-bottom: 70px;
    height: 2px;
    width: 100%;
    /* display: none; */
  }

  .section-two-bottom-bg {
    display: none;
  }
}
