body {
    background-color: #FFFDF9;
    margin: 0;
    font-family: 'Bacasime Antique', serif;
}

.names {
    margin-top: 0;
    color: #98AA8A;
    font-size: 2.5em;
    margin: auto;
    margin-bottom: 1.2em;
    text-align: center;
    font-weight: 700;
}

section {
    width: 100%;
}

.section-one {
    background-image: url("../images/background/section-one.webp");
    background-repeat: no-repeat;
}

.bible-verse {
    width: 600px;
    margin: auto;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    font-family: 'Dynalight', cursive;
}

.invitation-text {
    width: 600px;
    margin: auto;
    text-align: justify;
    font-size: 1.5em;
    text-justify: inter-word;
}

.names-img {
    width: 400px;
    margin: auto;
    display: block;
}

.transparent {
    mix-blend-mode: multiply;
}

.section-two {
    position: relative;
    top: 0;
    left: 0;
}

.divisor {
    display: block;
    margin: auto;
    width: 400px;
}

.section-two-bg {
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
}